.wd-kanbas-nav {
    background-color: black;
    height: 100vh;
    text-align: center;
    width: 84px;
}

.wd-logo {
    color: red;
    font-family:'Times New Roman', Times, serif;
    font-size: 56px;
    padding: 0;
    margin: 0;
}

.wd-kanbas-nav ul {
    display: inline;
    padding: 0;
    margin: 0;
}

.wd-kanbas-nav li {
    list-style: none;
    text-align: center;
    padding: 5px;
    margin: 5px 0 5px 0;
    font-size: 14px;
}

.wd-kanbas-nav a, .wd-kanbas-nav a:hover {
    color: white;
    text-decoration: none;
}

.wd-kanbas-nav #wd-selected {
    background-color: white;
}

.wd-kanbas-nav #wd-selected a {
    color: red;
}

.wd-kanbas-nav i {
    color: red;
    font-size: 36px;
}


#wd-account {
    color: white;
}

#wd-selected #wd-account {
    color: gray;
}